
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "DM Mono", monospace;
  transform: scale(1);
  font-size: 1rem;
}

body {
  width: 100vw;
  height: 100vh;
}

@font-face {
  font-family: "DM Mono";
  src: url("/src/assets/fonts/DM_Mono/DMMono-Regular.ttf") format("truetype");
}