@use "/src/styles/variables" as *;

.alu-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;

  .alu {
    width: 100%;
    height: 90%;
    object-fit: contain;
  }

  .actions {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .execute-button {

    }
  }
}
