div {
    display: grid;
}

button {
    border: none;
    background: none;
}

button:hover {
    background-color: sienna;
    color: white;
}

#alu {
    position: relative;
    right: 79px;
    bottom: 225px;
    width: 135px;
    height: 56px;
    background-color: aquamarine;
    border: solid black 1px;
}

#uc {
    position: relative;
    left: 95px;
    bottom: 282px;
    width: 135px;
    height: 53px;
    background-color: aquamarine;
    border: solid black 1px;
}

#mp {
    position: relative;
    left: 7px;
    bottom: 290px;
    width: 209px;
    height: 41px;
    background-color: aquamarine;
    border: solid black 1px;
}

#cpu button {
    color: white;
}

#cpu {
    position: relative;
    left: 144px;
    bottom: 271px;
    width: 59px;
    height: 17px;
    background-color: green;
    border: solid black 1px;
}

#menuImg {

    position: relative;
    z-index: -1;
}

#menu {
    position: absolute;
    left: calc(50vw - (700px / 2));
    height: 500px;
    width: 700px;
}