#simulator {
    position: absolute;
    left: calc(50vw - (700px / 2));
    height: 500px;
    width: 700px;
}
#simulatorImg {
    height: calc(657px - 20%);
    width: calc(867px - 20%);
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#returnToMenu {
    position: absolute;
    left: 10px;
    top: 15px;
    width: 50px;
    height: 25px;
    background-color: aquamarine;
    border: solid black 1px;
    z-index: 1;
}

#returnToMenu:hover {
    background-color: #D3942D;
    color: white;
}